body {
  margin: 0;
  padding: 0;
  background: rgb(1, 0, 71);
  background: linear-gradient(
    1deg,
    rgb(150, 149, 232) 12%,
    rgb(226, 113, 153) 100%
  );
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
